body{
    font-family:'Segoe UI', 'Cambria',  sans-serif;
    background-color: #F8F9FA;
    color: #242526;
}

.app-container{
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    gap: 20px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    background-color: ghostwhite;
}

.logo{
    font-size: 24px;
    margin: 0;
    font-weight: 800;
    line-height: 1;
}

.header-left{
    flex: 0 1 auto;
}

.main-header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E0E0E0;
    position: sticky;
    top: 0;
    z-index: 100;

}

.user-profile-group{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}

.user-name{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600 ;
    font-size: 14px;
    color: #242526;
}



.search-bar{
    width: 100%;
    padding: 10px 20px;
    background-color: #F0F2F5;
    border: none;
    border-radius: 20px;
    font-family: 'Segoe UI', sans-serif;
    max-width: 450px;
}

.search-container{
    flex: 1;
    display: flex;
    justify-content: center;
}

.profile-pic{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    object-fit: cover; /* prevents image from stretching.. interesting*/
    border: 1px solid #242526;

}

.feed input{
    width: 590px;
    height: 50px;
    border-radius: 11px;
    color: #f3f2f2;

}
.feed input:hover{
    background-color: #c5c5c5;
}

.post-button{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    background-color: #b92b27;
    border-radius: 5px;
    color: white;
}


.card{
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.sidebar{
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.info-panel{
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.feed{
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 18px;
    max-width: 10px;
    max-height: 10px;
}

.action-bar{
    display: flex;
    background-color: #242526;
    border-radius: 8px;
    padding: 10px 0;
    width: 100%;
    max-width: 600px;
    margin: 2px auto;
    margin-top: 9px;
    
}

.action-button{
    flex: 1;
    background: none;
    border: none;
    color: #E0E0E0;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.search-bar-cover{
    display: flex;
    align-items: center;
    background-color: #F0F2F5;
    border-radius: 20px;
    padding: 5px 15px;
    width: 100%;
    max-width: 450px;
}

.search-input{
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-family: 'Segoe UI',  sans-serif;
    padding: 8px 0;
}
.search-icon{
    width: 18px;
    height: 18px;
    margin-right: 10px;
    opacity: 0.6;
}


.action-button:hover{
    background-color: #3a3b3c;
    border-radius: 4px;

}
.separator{
    width: 1px;
    background-color: #3e4042;
    height: 24px;
    align-self: center;
}

@media (max-width: 768px){
    .app-container{
        grid-template-columns: 1fr;
    }
    .sidebar, .info-panel {
        display: none;
    }
 }